#gridContainer {
	width: 600px;
}

.gridRow {
 	display: flex;
  	flex-direction: row;
	width: 100%;
}

.gridBox {
	flex-basis: 100%;
	height: 20px;
	border: 1px solid black;
	background-color: white;
}

.sketched {
	background-color: black;
}
